@import models.SimilarPhotosView
@(photo: SimilarPhotosView)(implicit messages: Messages)

@main(s"${photo.item.description.getOrElse("photo")}") {
  <main class="container mx-auto ">
    <figure class=" lg:h-screen -mt-24 lg:pt-24 w-full flex flex-wrap rounded-xl p-8">


      <div class="h-screen w-full lg:h-full lg:w-1/2 flex justify-center items-center">

        <div class="max-w-xl px-12 lg:px-32">
          <div class="mb-8">
            <h1 class="text-xl md:text-xl leading-normal  font-serif">@{s"${photo.item.description.getOrElse("unknown")}"}</h1>
            <h5 class="text-m mt-3 leading-normal font-serif text-gray-700">from <a class="text-sm"
            href="@{photo.item.href.getOrElse("https://unsplash.com/")}">Unsplash</a> @@ @{photo.item.publishTsFmt} </h5>


            <div class="mt-4 -ml-4 inline-flex flex-wrap">

            @for( (tag,_) <- photo.item.userKeywords() ) {
              <div class=" text-xs font-bold leading-sm px-3 py-1 rounded-full bg-white text-gray-700 ">
                #@{tag}
              </div>
            }

            </div>
          </div>


        </div>
      </div>


      <div class="h-screen w-full lg:h-full lg:w-1/2 relative">
        <img alt="image" class="bw-full h-full rounded" src="@routes.PhotoAssetsController.image(photo.item.binaryGuid, "Full")">
      </div>

    </figure>

    <br/>

    <section class="masonry  -mx-1 lg:-mx-4">
    @for(photo <- photo.moreLikeThis) {
      <div class="relative cursor-pointer  my-1 px-1   brick">
        <article class="overflow-hidden rounded-lg shadow-md">
          <a href="@routes.HomeController.item(photo.guid)">
            <img alt="image" class="block h-auto w-full rounded"
            src="@routes.PhotoAssetsController.image(photo.binaryGuid, "M")"
            >
          </a>
        </article>
      </div>
    }
    </section>

  </main>
}
